# ignore file for poetry / python / flash project
#

# Ignore the poetry cache
.mypy_cache/
.pytest_cache/
.ruff_cache/
__pycache__/

# Ignore the poetry virtual environment
.venv/

# Ignore skip suffixed files
*-skip

# Ignore dot env files
.env